<!DOCTYPE html>
<html lang="pt-br" ng-app="router">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Angular Map</title>

        <link rel="stylesheet" type="text/css" href="bower_components/leaflet/dist/leaflet.css"/>
        <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,700,400italic"/>
        
        <style type="text/css">
            #map {
                height: 480px;
                width: 480px;
                z-index: 0;
            }
        </style>

    </head>
    
    <body layout="row" layout-padding ng-controller="mainController" md-colors="{background: 'deep-purple-700'}" >
		
        <div md-whiteframe="2" md-colors="{background: 'deep-purple-500'}" flex-offset="10" flex="80" layout="row" layout-align="center center">
            
            <div flex layout-margin layout="column"
            	md-colors="{background: 'grey-50'}"
            	md-whiteframe="2" >
            
            	<h4>Veículos Ativos</h4>
            
            	<div ng-repeat="v in vehicles">
            		<span>Vehicle [{{v.id}}]</span> <br/>
            		<md-button class="md-raised md-primary"
            			ng-click="createRouteTo(v)">Criar rota</md-button>
            		<md-button class="md-raised md-primary"
            			ng-click="showRouteTo(v)">Mostrar rota</md-button>
            		<md-button class="md-raised md-primary"
            			ng-click="showProximityTo(v)">Parada mais próxima</md-button>
            		<md-button class="md-raised md-primary"
            			ng-click="showEscapeTo(v)">Fuga de  rota</md-button>
            	</div>
            		
            </div>
            
            <map id="map" tile-layer="tileLayer.layer" zoom="6">
                <marker ng-repeat="marker in markers" position="marker.position" info="marker.info" draggable="marker.draggable" ng-click='showPointInformation(position)'></marker>

                <polyline path="path" color="'#FF0000'"></polyline>
            </map>
            
        </div>

        <!-- Map plugins -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoBQcMnMYMQUPyorTXHqF1UjgpP4iflrg" async defer></script>
        <script type="text/javascript" src="bower_components/leaflet/dist/leaflet.js"></script>
        <script type="text/javascript" src="bower_components/leaflet-providers/leaflet-providers.js"></script>
        <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>
        
        <!-- Angular plugins -->
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
        <script type="text/javascript" src="bower_components/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="bower_components/angular-messages/angular-messages.js"></script>
        <script type="text/javascript" src="bower_components/angular-material/angular-material.js"></script>
        <script type="text/javascript" src="bower_components/angular-map/angularMap.js"></script>
        
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/controller.js"></script>
        <script type="text/javascript" src="js/api.service.js"></script>
        <script type="text/javascript" src="js/api.value.js"></script>

    </body>
</html>